@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Ubantu',sans-serif;
}
nav ul{
    display: flex;
    list-style: none;
    height: 60px;
    background-color: black;
    color: white;
    align-items: center;
}
nav ul li{
    padding: 0 10px;
}
.brand img{
    width: 45px;
    padding: 0 7px;

}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.2rem;
}
.container{
    min-height: 65vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round',sans-serif;
    display: flex;
    margin: 23px auto;
    width: 80%;
    border-radius:12px ;
    padding: 32px;
    background-image:url('/bg.jpg') ;
}
.bottom{
    position: sticky;
    height: 100px;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    
}
.icons{
    margin: 14px;
}
.icons i{
    cursor: pointer;
}
#my{
    width: 80vw;
    text-align: center;
}